body { background: #a1417c; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 26px; display: flex; }
.block-cluster-0 { color: #93b63a; font-size: 20px; margin-bottom: 5px; }
.block-notify-1 { color: #7888c8; font-size: 18px; margin-bottom: 5px; }
.block-cluster-2 { color: #637e0e; font-size: 16px; margin-bottom: 5px; }
.block-uploader-3 { color: #206a5f; font-size: 13px; margin-bottom: 5px; }
.block-cart-4 { color: #9f0990; font-size: 14px; margin-bottom: 5px; }